In [ ]:
Q-1. Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias name as<WORKER_NAME>.

In [ ]:
##Ans1: 
SELECT FIRST_NAME AS WORKER_NAME FROM Worker;

In [ ]:
2. Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

In [ ]:
#ans.
SELECT DISTINCT DEPARTMENT FROM Worker;

In [ ]:
3.Write an SQL query to show the last 5 record from a table.

In [ ]:
#ans.
SELECT * from Worker ORDER by id DESC LIMIT 5;